::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
*{
  box-sizing: border-box !important;
}
body{
  background-color: var(--soft-bg) !important;
  font-family: 'Roboto', sans-serif;
  margin: 0!important;
}

h4, p{margin: 0;}
