

:root{
  --soft-bg : #F2F5FE;
  --main-color: #a974ff;
  --main-color-70: rgba(169, 116, 255, 0.70);
  --main-color-soft: #a4b6e1;
  --soft-color: #d8e4f2;
  --dark-blue: #25396f;
  --cyan: #58b9ff;
  --red: #ff5775;
}
